[submodule "deep-person-reid"]
	path = deep-person-reid
	url = https://github.com/Winter-Autosemantics-YOLOv5/deep-person-reid.git
[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5.git
